alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
docutils==0.14
et-xmlfile==1.0.1
idna==2.7
imagesize==1.1.0
jdcal==1.4
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
odfpy==1.3.6
openpyxl==2.5.14
packaging==18.0
pathlib2==2.3.2
pbr==5.1.0
pkg-resources==0.0.0
pluggy==0.8.0
py==1.7.0
Pygments==2.2.0
pyparsing==2.3.0
pytest==3.9.3
pytz==2018.7
pyYAML>=4.2b1
requests==2.20.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinx-click==1.2.0
sphinxcontrib-websupport==1.1.0
tablib==0.12.1
unicodecsv==0.14.1
urllib3==1.24
xlrd==1.1.0
-e git+https://github.com/Xgalan/xlsx2sqlite.git@d45b7e41ad7177c20b3754bd36b3417d1b50f085#egg=xlsx2sqlite
xlwt==1.3.0
